* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    font-weight:bolder;
    font-style: italic;
    
    color: #0f1021;
}
    
.nav-bar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
      
}

.company-name {
    font-style: italic;
    color: #ffcee4;
    margin-right: 10px; /* Align to the right by using auto margin */
    
}

.bar {
    color: #ffcee4;
 }

 .titel {
    font-family: fantasy;
    line-height: 35px;
    mix-blend-mode: luminosity;
 }
 
 .text li,  
 .text3 li,
 .text2 li {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: bold;
     border-radius: 5px;
     border: 5px solid #ffcee4;
    }
 
 .registration-food {
     color: #ffcee4;
     border: 5px solid #ffcee4;
     font-weight: bold;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     border-radius: 5px;
     margin: 6px;
     line-height: 25px;
     
    }

 

 .footer {
     background-color:#0f1021;
     padding: 1px;
     border-radius: 8px;
     height: 70;
     
    }

 body {
     background-color: #0f1021;
}

 .main-text {
    font-size: 13px;  
    
    padding: 2em;
    margin: 15px;
    color: #ffcee4;
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;
    border-radius: 20px;
    }

 .slogan {
    color: #ffcee4;
}

 .addy {
    text-decoration: underline;
    cursor: pointer;
    color: rgba(0, 162, 255, 0.645);
}

 .phone {
    text-decoration: underline;
    cursor: pointer;
    color: rgba(0, 162, 255, 0.645);
}

.socials {
display: grid;
justify-content: end;

}

@media only screen and (max-width: 1464px) {
   
   .nav-bar {
        justify-content: center;
    }

    .company-name {
        margin-right: 0; 
        color: #0f1021;
    }
    

    }


@media only screen and (max-width: 1024px) {
    .nav-bar {
        justify-content: center;
    }
}


@media only screen and (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .company-name {
        margin-right: 0px;
        margin-bottom: 10px;
       
      
    }

    .nav-bar ul {
        margin-top: 10px;
    }

    .main-text,
    .registration,
    .food {
        margin: 8px;
        padding: 10px;
        font-size: 14px;
    }

    .footer {
        height: auto;
    }


}

input :valid {
    color: blue;
}

input :invalid {
    color: red;
    
}
